.mobilMeny {
  height: 0;
  width: 0;
  top: -92px;
  display: none;
  transition: height ease-in-out 0.75s;

  &.open {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    transition: height ease-in-out 0.75s;


    &:hover {
      background: #e79999;
    }
    .mobilMeny-item {
      padding: 5px;

      &:hover {
        background-color: #99c2e8;
        opacity: .7;
      }
    }
  }
}
@media @small-phone {
  .mobilMeny {
    &.open{
      grid-template-columns: 1fr;
    }
  }
}

@media @desktop, @tablet{
  .mobilMeny {
    display: none;
  }
}