.meldekort-header {
  .mainNav {
    background: white;
    display: flex;
    justify-content: center;

    &__wrapper {
      display:flex;
      justify-content: space-between;

      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
          button.menypunkt {
            display:block;
            border: 0;
            background: white;
            font-size: 1.1rem;
            color: @navBla;
            padding: 0.75rem 1.25rem;
            text-decoration: none;
            border-bottom: 4px solid #E9E7E7;
            position: relative;
            top: 4px;

            &:hover {
              background: #f8f8f8;
              border-bottom: 4px solid @navBla;
            }

            &:focus {
              outline:none;
              box-shadow:0 0 0 3px #FFBD66;
              z-index:1;
            }

            &.active {
              background: white;
              font-weight: bold;
              border-bottom: 4px solid @navBla;
              color: @navMorkGra;
            }
          }
        }
      }
    }
    @media @phone {
      display:none;
    }
  }
}
