.arbeidsrad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  typo-undertittel {
    padding-top: 1rem;
  }

  .kategori_forklaring {
    display: inline-flex;
    width: 23rem;
  }

  .inputrad {
    display: inline-block;
    margin-left: 5rem;
  }
}

.arbeidInput {
  display: inline-block;
  margin-right: 1rem;

  .input--xs {
    width: 3rem;
  }
  .skjemaelement__label {
    padding-left: 1rem;
  }
}

@media @tablet {
  .arbeidInput {
    margin-right: 1.35rem;

    .input--xs {
      width: 2.7rem;
    }
    .skjemaelement__label {
      padding-left: 1rem;
    }
  }

  .arbeidsrad {
    display: block;
    span {
      display: inline-block;
      margin-right: 0;
      width: 17.5rem;
    }

    .inputrad {
      display: inline-block;
      margin-left: 0;
    }
  }
}

@media @phone {
  .arbeidInput {
    margin-right: 0;

    .input--xs {
      width: 2.7rem;
    }
    .skjemaelement__label {
      padding-left: 1rem;
    }
  }

  .arbeidsrad {
    display: inline-block;
    span {
      display: block;
      width: auto;
    }

    .inputrad {
      display: block;
      margin-left: 0;
    }
  }
}