.infoToggler {
  position: relative;
  border: none !important;
  background: transparent;
  padding: 0;
  display: inline-block;
}
.infoToggler:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffbd66;
}
.infoToggler__content {
  color: #0067c5;
  display: block;
  text-align: left;
  border-bottom: solid 1px #b7b1a9;
  padding-right: 1.5rem;
  position: relative;
}
.infoToggler:hover .infoToggler__content,
.infoToggler:focus .infoToggler__content,
.infoToggler:active .infoToggler__content {
  border-bottom-color: #0067c5;
}
.infoToggler__label {
  display: inline-block;
}
.infoToggler__chevron {
  line-height: 1.3rem;
  position: absolute;
  right: 0;
  top: 0;
}
