.tabell .jsonTable {
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.tabell .jsonTable thead {
  border-bottom: 1px solid #262626;
}
.tabell .jsonTable td,
.tabell .jsonTable th {
  padding: 1rem;
  text-align: left;
}
.tabell .jsonTable .jsonRow {
  background: #f8f8f8;
}
.tabell .jsonTable .jsonRow tr,
.tabell .jsonTable .jsonRow td {
  border-bottom: 1px solid #b7b1a9;
}
.tabell .jsonTable .jsonOdd {
  background: white;
}
.etikett.etikettbase__positiv {
  background-color: #99dead;
}
.etikett.etikettbase__fremhevet {
  background-color: #efa89d;
}
.etikett.etikettbase__informativ {
  background-color: #b5f1ff;
}
.etikett.etikettbase__fokusert {
  background-color: #ffd799;
}
