.meldekort-header {

  border-bottom: 4px solid #E9E7E7;

  &__innsending {
    display: none;
  }

  .banner-container {
    background-color: @navBlaLighten80;
    border-bottom: 2px solid @navBlaLighten60;

    .banner-content {
      display: flex;
      padding: 2rem;
      justify-content: center;
    }
  }

  @media @tablet {

  }
  @media @phone {
    .banner-content {
      padding: 1rem;
    }
  }
}
