.meldekortHeader__innsending {
  display: none;
}
.banner__container {
  background-color: #cce1ff;
  border-bottom: 2px solid #99c3ff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}
.banner__content {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-template-rows: minmax(40px, auto);
}
.banner__title {
  height: 100%;
  justify-self: center;
  padding: 0.5rem;
}
@media only screen and (max-width: 480px) {
  .meldekortHeader {
    border-bottom: none;
  }
  .banner__content {
    border-bottom: 2px solid #99c3ff;
  }
  .banner__title {
    width: 100%;
  }
}
