.mobilmeny {
  background: white;

  &__navlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0;
  }

  &__item {
    font-weight: 500;
    list-style: none;
    padding: 5px 5px 3px 5px;
    transition: all ease-in-out 0.75s;
  }

  .item--link {
    display: inline-flex;
    flex-direction: column;
    padding: 5px 3px 0 3px;
    position: relative;
    text-decoration: none;

    &:after {
      background: transparent;
      content: "";
      display: block;
      height: 4px;
      margin: 5px auto 0 auto;
      transition: width 0.8s ease;
      width: 0;
    }

    &:hover:after {
      width: 100%;
      font-weight: bold;
      background: @navBlaLighten60;
    }

    &.active {
      color: black;
      font-weight: bold;

      &:after {
        background: @navBla;
        height: 4px;
        width: 100%;
      }
    }

    &:focus {
      color: white;

      &:after {
        background: @white;
      }
    }
  }

  @media @small-phone {
    &__navlist {
      grid-template-columns: 1fr;
    }

    &__item {
      text-align: center;
    }
  }

  @media @desktop {
    background-color: transparent;
    display: none;
  }
}

.overlay {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease 0s;
  width: 100%;
  z-index: 105;
}
