.uimodal {
  width: 40rem;
  min-height: 15rem;
  position: relative;
}
.uimodal__content {
  margin-top: 1rem;
}
.uimodal__actions {
  position: absolute;
  bottom: 1rem;
}
.uimodal__actions-knapp {
  margin-left: 1rem;
}
.uimodal .uimodal__actions-knapp {
  margin-top: 0.5rem;
}
.modal-overskrift h2 {
  margin-bottom: 1rem;
}
