.languageToggle {
  display: flex;
  justify-content: flex-end;
}
.languageToggle__wrapper {
  min-width: 165px;
  position: relative;
  outline: none;
}
.languageToggle__wrapper:hover {
  background-color: #ffffff;
}
.languageToggle__button {
  width: 100%;
  display: flex;
  border: 1px solid #a0a0a0;
  border-radius: 0.25rem;
  align-content: center;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.languageToggle__button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffbd66;
  border-color: transparent;
}
.languageToggle__button__flag {
  max-height: 18px;
  padding-right: 0.5rem;
}
.languageToggle__button__language {
  text-align: left;
  width: 65%;
}
.languageToggle__menu {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.languageToggle__menu ul {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  position: absolute;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 100%;
}
.languageToggle__menu ul li {
  width: 100%;
  list-style: none;
}
.languageToggle__menu__item {
  display: flex;
  padding: 0.5rem 2rem 0.5rem 1rem;
  width: 100%;
  outline: none;
}
.languageToggle__menu__item:hover {
  outline: none;
  box-shadow: 0 0 0 3px #ffbd66;
}
.languageToggle__menu__item:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffbd66;
}
@media only screen and (max-width: 480px) {
  .languageToggle__wrapper {
    min-width: 130px;
  }
  .languageToggle__button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}
