
.languageToggle {
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  &__wrapper {
    min-width: 200px;
    position: relative;
    outline: none;

    &:hover {
      background-color: #ffffff;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    border: 1px solid @navGra40;
    border-radius: 0.25rem;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    padding: 0.5rem 1rem 0.5rem 1rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px @orangeFocus;
      border-color: transparent;
    }

    &__flag {
      padding-right: 0.5rem;
      height: 25px;
      width: 25%;
    }

    &__language {

      width: 50%;
    }
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    ul {
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      border-bottom: 1px solid @navGra40;
      border-left: 1px solid @navGra40;
      border-right: 1px solid @navGra40;
      position: absolute;
      width: 100%;
      z-index: 100;
      left: 0;
      top: 100%;
    }

    ul li {
      width: 100%;
      list-style: none;
    }

    &__item {
      display: flex;
      padding: 0.5rem 2rem 0.5rem 1rem;
      width: 100%;
      outline: none;

      &:hover {
        outline: none;
        box-shadow: 0 0 0 3px @orangeFocus;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px @orangeFocus;
      }
    }
  }
}
