.ekspanderbartInnhold {
  transition: height 0.5s ease;
}
.ekspanderbartInnhold .ekspanderbart__tekst {
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: #262626;
}
.ekspanderbartInnhold--apen {
  margin-top: 1rem;
  opacity: 1;
  box-shadow: 0 0 0 3px #00347d;
  border-radius: 4px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ekspanderbartInnhold--apen {
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .ekspanderbartInnhold--apen {
    margin-top: 0;
  }
}
