.ekspanderbartInnhold {
  opacity: 0;
  transition: opacity 0.5s ease;

  .ekspanderbart__tekst {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  &--apen {
    opacity: 1;
    // TODO Legge på riktig farge etter at feedback kommer fra designer
    background-color: #3E3832;
    //background-color: #f8f8f8;
    color: #FFFFFF;
    //box-shadow: 0 0 0 2px #B7B1A9;
    box-shadow: 0 0 0 3px @orangeFocus;
    padding-top: 0;
  }
}