.arbeidsrad {
  .kolonne-1-til-3();
  .to-kolonner();

  min-height: 4rem;
  border-left: solid 9px #99c2e8;
  border-top: 1px solid #c6c2bf;

  .kategori_forklaring {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    // width: 18rem;
    .tittel {
      padding-top: .3rem;
    }
    .utvidetInformasjon {
      padding-top: .3rem;

    }
  }

  .inputrad_arbeid {
    .syv-kolonner();

    .skjemaelement {
      justify-self: center;
      margin-bottom: .2rem;
      margin-top: .2rem;

      &.arbeidInput {

        .input--xs {
          width: 3rem;
          height: 2.5rem;
          text-align: center;
        }
      }
    }
  }
}

@media @tablet {
  .arbeidInput {

    .input--xs {
    }
  }

  .arbeidsrad {

    .kategori_forklaring {

    }
    .inputrad_arbeid {

      .skjemaelement {
      }
    }
  }
}

@media @phone {
  .arbeidInput {
    // margin-right: 0;

    .input--xs {
      // width: 2.7rem;
    }
  }

  .arbeidsrad {

    .inputrad_arbeid {

    }

    .kategori_forklaring {
    }
  }
}