.arbeidsrad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-left: solid 9px #99c2e8;
  border-top: 1px solid #c6c2bf;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  min-height: 4rem;
  // height: 4rem;

  .kategori_forklaring {
    display: block;
    padding-left: 0.8rem;
    width: 18rem;

    .utvidetInformasjon {
      margin-bottom: 0.5rem;
    }
  }

  .inputrad_arbeid {
    display: inline-flex;
    justify-content: flex-end;
  }
}

.arbeidInput {
  display: inline-block;
  margin-right: 1rem;
  padding-top: 0.2rem;

  .input--xs {
    width: 3rem;
    height: 2.5rem;
    text-align: center;
  }
}

@media @tablet {
  .arbeidInput {
    margin-right: 0.5rem;
    height: auto;

    .input--xs {
      width: 2.7rem;
    }
  }

  .arbeidsrad {
    display: flex;

    .inputrad_arbeid {
      display: inline-flex;
      margin-left: auto;
    }

    .kategori_forklaring {
      display: inline-flex;
      width: auto;
      padding-left: 0.5rem;
    }
  }
}

@media @tablet {
  .arbeidsrad {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
}

@media @phone {
  .arbeidInput {
    margin-right: 0;

    .input--xs {
      width: 2.7rem;
    }
  }

  .arbeidsrad {
    display: flex;
    height: auto;
    margin-right: 0;
    margin-left: 0;

    .inputrad_arbeid {
      display: block;
      margin-left: 0.6rem;
    }

    .kategori_forklaring {
      padding-top: 1rem;
    }
  }
}