/*
-----------------------------
   GENERELL STYLING
-----------------------------
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}
body #meldekort__root .loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body #meldekort__root .main-container,
body #meldekort__root .main-container.overlay {
  z-index: 100;
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
}
body #meldekort__root .main-container .sideinnhold,
body #meldekort__root .main-container.overlay .sideinnhold {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 3rem 0;
}
body #meldekort__root .main-container .sideinnhold .flex-innhold,
body #meldekort__root .main-container.overlay .sideinnhold .flex-innhold {
  display: flex;
  flex-wrap: wrap;
}
body
  #meldekort__root
  .main-container
  .sideinnhold
  .flex-innhold.tittel-sprakvelger,
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .flex-innhold.tittel-sprakvelger {
  align-items: center;
  justify-content: space-between;
}
body #meldekort__root .main-container .sideinnhold .flex-innhold.sentrert,
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .flex-innhold.sentrert {
  justify-content: center;
}
body #meldekort__root .main-container .sideinnhold .seksjon,
body #meldekort__root .main-container.overlay .sideinnhold .seksjon {
  margin-bottom: 2rem;
}
body #meldekort__root .main-container .sideinnhold .seksjon:last-child,
body #meldekort__root .main-container.overlay .sideinnhold .seksjon:last-child {
  margin-bottom: 0;
}
body #meldekort__root .main-container .sideinnhold .seksjon .item,
body #meldekort__root .main-container.overlay .sideinnhold .seksjon .item {
  margin-bottom: 1rem;
}
body #meldekort__root .main-container .sideinnhold .seksjon .item:last-child,
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .seksjon
  .item:last-child {
  margin-bottom: 0;
}
body #meldekort__root .main-container .sideinnhold .seksjon .knapper-container,
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .seksjon
  .knapper-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 300px));
  grid-template-rows: minmax(auto, auto);
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}
body
  #meldekort__root
  .main-container
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp,
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp {
  min-width: 165px;
}
body
  #meldekort__root
  .main-container
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp:nth-child(1),
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
}
body
  #meldekort__root
  .main-container
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp:nth-child(2),
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
}
body
  #meldekort__root
  .main-container
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp:nth-child(3),
body
  #meldekort__root
  .main-container.overlay
  .sideinnhold
  .seksjon
  .knapper-container
  .navigasjonsknapp:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}
body .sentrert-tekst {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  body #decorator-footer {
    padding-top: 100px;
  }
  body #meldekort__root .main-container {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  body #meldekort__root .main-container .sideinnhold {
    width: 800px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body #meldekort__root .main-container {
    padding: 0 1rem 0 1rem;
  }
  body #meldekort__root .main-container .sideinnhold {
    padding: 2rem 0 2rem 0;
  }
  body #meldekort__root .main-container .sideinnhold .seksjon {
    margin-bottom: 1.5rem;
  }
  body #meldekort__root .main-container .sideinnhold .seksjon .item {
    margin-bottom: 1rem;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container.lang-knapper {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto);
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container.lang-knapper
    .navigasjonsknapp {
    min-width: 140px;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container.lang-knapper
    .navigasjonsknapp:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container.lang-knapper
    .navigasjonsknapp:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container.lang-knapper
    .navigasjonsknapp:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
  }
}
@media only screen and (max-width: 480px), only screen and (max-width: 767px) {
  body #meldekort__root .main-container {
    padding: 0 0.5rem 0 0.5rem;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .flex-innhold.tittel-sprakvelger {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5rem;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .flex-innhold.tittel-sprakvelger
    h1,
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .flex-innhold.tittel-sprakvelger
    .languageToggle {
    align-self: center;
    margin: 0;
  }
  body #meldekort__root .main-container .sideinnhold .seksjon {
    margin-bottom: 1.5rem;
  }
  body #meldekort__root .main-container .sideinnhold .seksjon .item {
    margin-bottom: 1rem;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container.lang-knapper
    .navigasjonsknapp {
    min-width: 140px;
  }
  body
    #meldekort__root
    .main-container
    .sideinnhold
    .seksjon
    .knapper-container
    .navigasjonsknapp {
    margin-bottom: 1rem;
  }
}
