/*
-----------------------------
   CSS GRID FUNKSJONER
-----------------------------
*/
.kolonne-1-til-3() {
  grid-column-start: 1;
  grid-column-end: 3;
}

.kolonne-2-til-3() {
  grid-column-start: 2;
  grid-column-end: 3;
}
.kolonne-1-til-2() {
  grid-column-start: 1;
  grid-column-end: 2;
}

.rad-1-til-2() {
  grid-row-start: 1;
  grid-row-end: 2;
}

.rad-3-til-4() {
  grid-row-start: 3;
  grid-row-end: 4;
}

.cssgrid() {
  display: -ms-grid;
  display: grid;
}

.to-kolonner() {
  grid-template-columns: repeat(2, 1fr);
}

.to-rader() {
  grid-template-rows: repeat(2, 1fr);
}

.syv-kolonner() {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
