.aktivitetsrad {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px solid #c6c2bf;
  border-left: solid 9px;
  grid-template-rows: minmax(auto, auto);
  width: 100%;
  padding: 0 1rem 0 1rem;

  &:last-child {
    border-bottom: solid 1px #c6c2bf;
  }

  &__tittel {
    align-self: end;
  }
  .utvidetInformasjon {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0.5rem;

    &.utvidetInformasjon--apen {
      margin-top: 1rem;
    }
  }

  &__inputfelter {
    .kolonne-2-til-3();
    .syv-kolonner();
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .rad-1-til-2();

    .aktivitet__checkbox {
      justify-self: center;

      label.skjemaelement__label {
        &::before {
          margin: 0.25rem;
        }
      }
    }
  }
}

.feilIRad {
  background-color: #e79999;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
}

@media @tablet, @desktop {
  .aktivitetsrad {
    .ukedager {
      display: none;
    }
  }

  .feilIRad {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
  }
}

@media @phone {
  .aktivitetsrad {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    &__tittel {
      padding-top: 1rem;
      align-self: flex-start;
    }

    &__inputfelter {
      .syv-kolonner();
      margin: 0 0 2rem 0;

      .aktivitet__checkbox {
        justify-self: center;

        label.skjemaelement__label {
          &::before {
            margin: 0.25rem;
          }
        }
      }
    }
  }
}

@media @small-phone {
  .aktivitetsrad {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;

    &__tittel {
      padding-top: 1rem;
    }
    .utvidetInformasjon {
      padding-top: 0.5rem;
    }

    &__inputfelter {
      .syv-kolonner();
      margin: 0 0 2rem 0;

      .aktivitet__checkbox {
        justify-self: center;
      }
    }
  }
}
