.aktivitetsrad {
  .kolonne-1-til-3();
  .to-kolonner();
  border-top: 1px solid #c6c2bf;
  border-left: solid 9px;
  min-height: 4rem;
  grid-auto-rows: minmax(auto, auto);

  &:last-child {
    border-bottom: solid 1px #c6c2bf;
  }

  .kategori_forklaring {
    padding: .25rem 1rem .25rem 1rem;

    .tittel {
      padding-top: .3rem;
    }
    .utvidetInformasjon {
      padding-top: .3rem;
      padding-bottom: .3rem;
    }
  }

  .inputrad {
    .syv-kolonner();

    .utfylling-checkboks {
      justify-self: center;

      label.skjemaelement__label {
        &::before {
          margin: 0.25rem;
        }
      }
    }
  }
}

.feilIRad {
  background-color: #e79999;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
}

@media @tablet {
  .aktivitetsrad {

    .inputrad {

    }

    .kategori_forklaring {

    }
  }

  .feilIRad {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
  }
}

@media @tablet {
  .aktivitetsrad {
    /*margin-right: 0.25rem;
    margin-left: 0.25rem;*/
  }
}

@media @phone {
  .aktivitetsrad {

    .inputrad {

    }
    .kategori_forklaring {
    }
  }

  .feilIRad {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
  }
}