// CSS styling for Flexbox fallback
.ieStyling {
  // ------ BANNER / HEADER -----
  .banner {
    &__container {
      display: flex;
      justify-content: center;
    }

    &__content {
    }

    &__title {
    }
  }

  // ------ KNAPPER-----
  .knapper-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .navigasjonsknapp {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // ------ UTFYLLINGSSIDEN -----
  .utfylling-container {
    background: #005b82;
    .uke {
      &__ panel {
        display: flex;
        flex-direction: column;
      }

      &__tittel {
      }
    }

    .ukedager {
      &--desktop {
        display: flex;
        justify-content: space-between;
        padding-left: 50%;

        @media @small-phone, @phone {
          display: none;
        }
      }
      &--mobil {
        display: flex;
        justify-content: space-between;
        @media @desktop {
          display: none;
        }
      }
    }

    .arbeidsrad {
      &__tittel {
        .rad-1-til-2();
      }

      &__inputfelter {
        display: flex;
        justify-content: space-between;
      }

      .utvidetInformasjon {
        .rad-3-til-4();
      }
    }

    .aktivitetsrad {
      &__tittel {
        .rad-1-til-2();
      }

      &__inputfelter {
        display: flex;
        justify-content: space-between;
      }

      .utvidetInformasjon {
        .rad-3-til-4();
      }
    }
  }
}
