.oldBrowserStyling .banner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.oldBrowserStyling .banner__content {
  display: flex;
  justify-content: space-between;
}
.oldBrowserStyling .mobilmeny__navlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oldBrowserStyling .mobilmenyToggle {
  display: block;
  height: 100%;
  width: 60px;
}
@media only screen and (min-width: 992px) {
  .oldBrowserStyling .mobilmenyToggle {
    display: none;
  }
}
.oldBrowserStyling .knapper-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.oldBrowserStyling .knapper-container .navigasjonsknapp {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 992px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .oldBrowserStyling .knapper-container .navigasjonsknapp {
    margin-right: 2rem;
  }
}
.oldBrowserStyling .utfylling-container .uke__panel {
  display: flex;
  flex-direction: column;
}
.oldBrowserStyling .utfylling-container .ukedager--desktop {
  display: flex;
  justify-content: space-between;
  padding-left: 50%;
}
@media only screen and (max-width: 480px),
  only screen and (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .oldBrowserStyling .utfylling-container .ukedager--desktop {
    display: none;
  }
}
.oldBrowserStyling .utfylling-container .ukedager--mobil {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .oldBrowserStyling .utfylling-container .ukedager--mobil {
    display: none;
  }
}
.oldBrowserStyling .utfylling-container .arbeidsrad {
  padding-bottom: 1rem;
}
.oldBrowserStyling .utfylling-container .arbeidsrad__tittel {
  padding-top: 1rem;
  grid-row-start: 1;
  grid-row-end: 2;
}
.oldBrowserStyling .utfylling-container .arbeidsrad__inputfelter {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 50%;
  margin-top: 0;
}
.oldBrowserStyling .utfylling-container .arbeidsrad .utvidetInformasjon {
  grid-row-start: 3;
  grid-row-end: 4;
}
@media only screen and (max-width: 767px),
  only screen and (max-width: 480px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .oldBrowserStyling .utfylling-container .arbeidsrad__inputfelter {
    padding: 0;
  }
}
.oldBrowserStyling .utfylling-container .aktivitetsrad {
  padding-bottom: 1rem;
}
.oldBrowserStyling .utfylling-container .aktivitetsrad__tittel {
  padding-top: 1rem;
  grid-row-start: 1;
  grid-row-end: 2;
}
.oldBrowserStyling .utfylling-container .aktivitetsrad__inputfelter {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 50%;
  margin-top: 0;
}
.oldBrowserStyling .utfylling-container .aktivitetsrad .utvidetInformasjon {
  grid-row-start: 3;
  grid-row-end: 4;
}
@media only screen and (max-width: 767px),
  only screen and (max-width: 480px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .oldBrowserStyling .utfylling-container .aktivitetsrad__inputfelter {
    padding: 0;
  }
}
