.meldekortdetaljer {
  padding-top: 1rem;

  .sporsmalsvisning {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #d1d1d1;

    .sporsmalsgruppe {
      margin-bottom: 1rem;
      .typo-element {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
      &:last-child {
        margin-bottom: 0;
      }

      img {
        height: 24px;
        margin-right: 0.5rem;
      }
      .sporsmalstekst {
        display: block;
        margin-bottom: 1rem;
      }
    }
  }
  .ukevisning {
    .uke {
      padding-bottom: 2rem;
      border-bottom: 1px solid #d1d1d1;

      .dagliste {
        margin-bottom: 1rem;
      }

      .utfylling {
        margin-left: 0.2rem;
      }
    }
    .uketittel {
      margin-top: 2rem;
    }

    .detaljerborder {
      width: 2rem;
      border: 0.5px solid #000000;
      margin-top: 2rem;
    }
  }
}
