.meldekortdetaljer {
  padding-top: 1rem;
}
.meldekortdetaljer .sporsmalsvisning {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d1d1d1;
}
.meldekortdetaljer .sporsmalsvisning .begrunnelse {
  margin-bottom: 1rem;
}
.meldekortdetaljer .sporsmalsvisning .begrunnelse .sporsmalstekst {
  margin-bottom: 1rem;
}
.meldekortdetaljer .sporsmalsvisning .begrunnelse .checkmark {
  height: 24px;
  margin-right: 0.5rem;
}
.meldekortdetaljer .sporsmalsvisning .begrunnelse .utvidetInformasjon {
  margin-top: 0.15rem;
}
.meldekortdetaljer .sporsmalsvisning .sporsmalsgruppe {
  margin-bottom: 1rem;
}
.meldekortdetaljer .sporsmalsvisning .sporsmalsgruppe .typo-element {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.meldekortdetaljer .sporsmalsvisning .sporsmalsgruppe:last-child {
  margin-bottom: 0;
}
.meldekortdetaljer .sporsmalsvisning .sporsmalsgruppe img {
  height: 24px;
  margin-right: 0.5rem;
}
.meldekortdetaljer .sporsmalsvisning .sporsmalsgruppe .sporsmalstekst {
  display: block;
  margin-bottom: 1rem;
}
.meldekortdetaljer .ukevisning .detaljerborder {
  width: 2rem;
  border: 0.5px solid #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.meldekortdetaljer .ukevisning .uke {
  padding-bottom: 2rem;
  border-bottom: 1px solid #d1d1d1;
}
.meldekortdetaljer .ukevisning .uke .uketittel {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.meldekortdetaljer .ukevisning .uke .dagliste {
  margin-bottom: 1rem;
}
.meldekortdetaljer .ukevisning .uke .utfylling {
  margin-left: 0.2rem;
}
