
.meldekortdetaljer {
  .sporsmal {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #d1d1d1;

    .seksjon {
      .typo-element {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }

      img {
        height: 24px;
      }

      span span {
        height: 22px;
        line-height: 1.22;
      }
    }
    .flex-sporsmal-hjelpetekst-container {
      display: inline-flex;
      width: 800px;
    }
  }
  .ukevisning {

    .meldekortdetaljer-utfyllt-hjelpetekster {
      ul {
        list-style-type: initial;
      }
      strong {
        font-size: 20px;
      }
      .overskrift-hjelpetekst {
        display: block;
        margin-top: 1rem;
      }
    }

     .uke {
       padding-bottom: 2rem;
       margin-bottom: 2rem;
       border-bottom: 1px solid #d1d1d1;

       .utfylling {
         margin-left: 0.5rem;
       }
     }
     .uketittel {
       margin-top: 2rem;
     }
     .detaljerborder {
       width: 2rem;
       border: 0.5px solid #000000;
       margin-top: 2rem;
     }
      ul {
        list-style-type: none;
        padding-left: 1rem;

        li {
          .typo-element {
            display: inline-block;
            width: 7rem;
          }
          div{
            display: inline-block;
          }
        }
      }
   }
 }