.banner-container {
  background-color: @panelBakgrunn;

  .banner-content {
    display: flex;
    padding: 2rem;
    justify-content: center;

    &.mindre-banner {
      padding: 1rem;
    }
  }
}
