
.utskrift {
  display: none !important;
}

@media print {

  header,
  nav,
  footer,
  .hodefot .siteheader,
  .hodefot .sitefooter,
  .banner-container,
  .noPrint {
    display: none !important;
  }

  .pagewrapper {
    display: none !important;
    min-height: 0 !important;
  }

  .utskrift {
    display: block !important;

    &__hode {
      display: block !important;
      text-align: center;
      margin-bottom: 15mm;

      img {
        margin-bottom: 1rem;
      }
    }
    &__innhold {
      padding-bottom: 20mm;
    }
    &__side {
      padding-top: 10mm;
      page-break-after: always;
    }

    .noPrint {
      display: none !important;
    }
    .tabell-detaljer {
      margin: 0;
    }
    .tabell .jsonTable td, .tabell .jsonTable th {
      padding-top: 0;
      padding-bottom: 0;

      .etikett--suksess {
        padding-left: 0;
        margin-bottom: 0 !important;
      }
    }
    span, h1, h2, hr, p, td, div, section {
      font-size: 12px !important;
      margin-top: 0 !important;
      margin-bottom: 1rem !important;
      line-height: 14px !important;

      h1, h1 span, h2, h2 span{
        font-size: 16px !important;
      }
    }
    .periodeBanner {
      margin-bottom: 1rem !important;
      text-align: center !important;
      h1, p, p span {
        margin-bottom: 0.2rem !important;
      }
    }
    .oppsummeringsTekster {
      text-align: center;
      margin-top: 0.5rem !important;
    }
    .meldekortdetaljer {
      .sporsmal, .ukevisning .uke {
        padding-bottom: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        .uketittel {
          text-align: center !important;
        }
      }
      .dagliste {
        margin-bottom: 0.1rem !important;
        line-height: 12px !important;
        font-size: 12px !important;
      }
    }
  }
}

#meldekort-root {

  .onlyPrint {
    display: none;
  }

  .printLogo {
    height: 20px;
    margin-right: 0.5rem;
    padding-bottom: 0.2rem;
  }

  @media print {
    display: none !important;
  }
}