/*********** LESS FUNKSJONER ***************/
.kolonne-1-til-3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.kolonne-2-til-3() {
  grid-column-start: 2;
  grid-column-end: 3;
}

.to-kolonner() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.syv-kolonner() {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/************* VANLIG LESS ***************/

.utfylling-container {
  display: block;
  width: 100%;

  .ukepanel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(auto, auto);

    .ukedager {
      .kolonne-2-til-3();
      .syv-kolonner();

      border-left: solid 4px white;
      padding-top: .5rem;
      padding-bottom: .5rem;

      abbr {
        justify-self: center;
      }
    }

    .uketittel {
      margin-bottom: 2rem;
    }
  }
}

// Denne settes på et span-element som inneholder navnet på raden, inni label til inputfelt og checboxer
// for at skjermlesere skal kunne vite hvilken rad og hvilken dag man er på.
.vekk {
  position: absolute;
  left: -3000px;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  z-index: -1000;
}

.utfyllingFeil {
  margin-bottom: 2rem;
}

.ekspanderbartPanel {
  margin-bottom: 2rem;

  &__innhold {
    padding: 0 !important;
  }
}

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/

input[type=number] {
  -moz-appearance: textfield;
}

@media @tablet {
  .ukepanel {
    .ukedager {

      abbr {
      }
    }
  }
}

@media @phone {
  .ukepanel {
    .ukedager {

      abbr {
      }
    }
  }
}