.seksjon.sporsmal .flex-sporsmal-hjelpetekst-container {
  display: block;
}
.seksjon.sporsmal .skjema__feilomrade--harFeil {
  margin-top: 1rem;
}
.seksjon.sporsmal .inputPanelGruppe {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
