// Denne fargen er brukt som bakgrunn for banner, men finnes ikke i nav-frontend
@panelBakgrunn: #f1f1f1;

// nav-frontend
@import "~nav-frontend-core/less/core";
@import "~nav-frontend-tabs-style";
@import "~nav-frontend-typografi-style";
@import "~nav-frontend-grid-style";

// Komponenter
@import "./app/components/banner/banner.less";
@import "app/components/meny/tabsmeny.less";
@import "app/components/sprakvelger/sprakvelger.less";
@import "app/pages/sendMeldekort/sendMeldekort.less";

// GENERELL STYLING

#root {
  margin-right: auto;
  margin-left: auto;

  .main-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: @screen-md;
    padding-top: 2rem;

    .sideinnhold {
      display: flex;
      flex-direction: column;
      padding: 2rem 0 2rem 0;

      .flex-innhold {
        display: flex;

        &.sentrert {
          justify-content: center;
        }
      }
      .seksjon {
        margin-bottom: 2rem;


        &:last-child {
          margin-bottom: 0;
        }

        .item {
          margin-bottom: 2rem;

          &:first-child {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}

.sentrert-tekst {
  text-align: center;
}

@media (max-width: @screen-md) {
  #root {

    .main-container {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}