/*
-----------------------------------------
      NAV FRONTEND IMPORTS
-----------------------------------------
*/
@import "~nav-frontend-core/less/core";
@import "~nav-frontend-tabs-style";
@import "~nav-frontend-typografi-style";
@import "~nav-frontend-grid-style";
@import "~nav-frontend-alertstriper-style";
@import "~nav-frontend-etiketter-style";

/*
-----------------------------------------
     MELDEKORT IMPORTS
-----------------------------------------
*/
@import "app/components/ekspanderbartInnhold/ekspanderbartInnhold.less";
@import "app/components/feil/UIAlertstripeWrapper.less";
@import "app/components/header/header.less";
@import "app/components/hovedMeny/hovedMeny.less";
@import "app/components/meldekortdetaljer/meldekortdetaljer.less";
@import "app/components/mobilMeny/mobilMeny.less";
@import "app/components/mobilMeny/mobilMenyToggle.less";
@import "app/components/modal/UIModalWrapper.less";
@import "app/components/print/printStyle.less";
@import "app/components/sprakvelger/sprakvelger.less";
@import "app/components/stegBanner/stegBanner.less";
@import "app/components/tabell/tabell.less";
@import "app/components/mobilTabell/mobilTabell.less";
@import "app/components/utvidetinformasjon/infoToggler/infoToggler.less";
@import "app/components/utvidetinformasjon/utvidetInformasjon.less";
@import "app/sider/innsending/3-bekreftelsesside/bekreftelse.less";
@import "app/sider/innsending/1-sporsmalsside/sporsmal/sporsmal.less";
@import "app/sider/innsending/1-sporsmalsside/begrunnelse/begrunnelsesVelger.less";
@import "app/sider/innsending/1-sporsmalsside/sporsmalsside.less";
@import "app/sider/innsending/2-utfyllingsside/utfylling/aktivitet/aktivitetsrad.less";
@import "app/sider/innsending/2-utfyllingsside/utfylling/arbeid/arbeidsrad.less";
@import "app/sider/innsending/2-utfyllingsside/utfyllingsside.less";
@import "app/sider/ofteStilteSporsmal/ofteStilteSporsmal.less";
@import "app/sider/sendMeldekort/sendMeldekort.less";
@import "app/sider/tidligereMeldekort/detaljer/detaljer.less";
@import "app/sider/innsending/4-kvitteringsside/kvittering.less";

/*
-----------------------------------------
  FARGER (som ikke finnes i nav frontend)
-----------------------------------------
*/
@panelBakgrunn: #f1f1f1;

/*
-----------------------------------------
   CONTAINER, MARGIN, PADDING
-----------------------------------------
*/
@width-container: @screen-desktop;

@padding-vertical-md: 0 1rem 0 1rem;
@padding-vertical-sm: 0 0.5rem 0 0.5rem;

/*
-----------------------------
   BREKKPUNKTER & SETUP
-----------------------------
*/

@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@small-phone:   ~"only screen and (max-width: @{xs-min})";
@phone:   ~"only screen and (max-width: @{xs-max})";
@tablet:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop: ~"only screen and (min-width: @{md-min})";

/*
-----------------------------
   GENERELL STYLING
-----------------------------
*/


body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;

  #meldekort-root {

    .main-container, .main-container.overlay {
      z-index: 100;
      margin-right: auto;
      margin-left: auto;
      max-width: @width-container;

      .sideinnhold {
        display: flex;
        flex-direction: column;
        padding: 2rem 0 3rem 0;

        .flex-innhold {
          display: flex;
          flex-wrap: wrap;

          &.tittel-sprakvelger {
            justify-content: space-between;
            align-items: center;
          }

          &.sentrert {
            justify-content: center;

            .navigasjonsknapp {
              margin-right: 2rem;
              &:last-child {
                margin-left: 0;
              }
            }
          }
        }
        .seksjon {
          display: block;
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }

          .item {
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &.knapper {

          }
        }
      }
    }
  }
  .sentrert-tekst {
    text-align: center;
  }

  @media @desktop {
    #meldekort-root {
      .main-container {
        display: flex;
        align-content: center;
        justify-content: center;

        .sideinnhold {
          width: 800px;
        }
      }
    }
  }

  @media @tablet {
    #meldekort-root {
      .main-container {
        padding: @padding-vertical-md;

        .sideinnhold {
          padding: 2rem 0 2rem 0;

          .seksjon {
            margin-bottom: 1.5rem;

            .item {
              margin-bottom: 1rem;

            }
          }
        }
      }
    }
  }

  @media @phone {
    #meldekort-root {
      .main-container {
        padding: @padding-vertical-sm;

        .sideinnhold {

          .flex-innhold {

            &.tittel-sprakvelger {
              display: grid;
              grid-template-rows: 1fr;
              grid-template-columns: 1fr 1fr;

              &:nth-child(all) {

              }
            }
          }

          .seksjon {
            margin-bottom: 1rem;

            .item {
              margin-bottom: 0.75rem;
            }
          }
        }
      }
    }
  }
}