.tabsmeny {
  background-color: @panelBakgrunn;

  .nav-frontend-tabs {
    display: flex;
    justify-content: center;

    &__tab-list {
      width: @width-container;
      margin: @margin-tabs-and-main-md;
    }
  }
}