.tabsmeny {

  .nav-frontend-tabs, .nav-frontend-tabs--kompakt {
    border-bottom: 4px solid #E9E7E7;
    display: flex;
    justify-content: center;

    &__tab-list {


      @media @tablet {
        padding: @padding-vertical-sm;
      }
      .nav-frontend-tabs__tab-outer {
        margin-bottom: 0;
      }
    }

    &__tab-inner.nav-frontend-tabs__tab-inner--interaktiv {
      // border-bottom: 4px solid #E9E7E7;
      padding: @padding-vertical-sm;

      .nav-frontend-tabs__tab-label {

      }
    }
    &__tab-inner.nav-frontend-tabs__tab-inner--aktiv {
      .nav-frontend-tabs__tab-label {
        border-bottom: 4px solid @navDypBla;
        // background-color: #A3DFF3;
      }
    }
  }
}